<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http:/www.phonegap.com/ns/plugins/1.0"
	id="edu.rit.se.TourTrakAndroidPlugin"
	version="0.1.0">
	<name>TourTrak Android Plugin</name>
	<description>Android Plugin for tracking rider's location for TourTrak</description>
	<license>TBD</license>
	<keywords>Geolocation, server communication</keywords>
	<author>Christoffer Rosen and Ian Graves</author>
	
	<js-module src="assets/www/js/CDVInterface.js" name="CDVInterface">
		<clobbers target="window.CDVAndroidInterface" />
	</js-module>
	
	<!-- android -->
	<platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
		<feature name="CDVInterface">
			<param name="android-package" value="edu.rit.se.CDVInterface"/>
		</feature>
		
		</config-file>

	</platform>          
</plugin>
